<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.antelli.sampleplugin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="io.antelli.sampleplugin.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".SamplePlugin">
            <intent-filter>
                <action android:name="io.antelli.assistant.ANSWER" />
            </intent-filter>

            <meta-data
                android:name="name"
                android:value="@string/plugin_name" />
            <meta-data
                android:name="author"
                android:value="@string/plugin_author" />
            <meta-data
                android:name="email"
                android:value="@string/plugin_email" />
            <meta-data
                android:name="description"
                android:value="@string/plugin_description" />
            <meta-data
                android:name="samples"
                android:value="@string/plugin_samples" />
            <meta-data
                android:name="settings"
                android:value="@bool/plugin_settings" />
            <meta-data
                android:name="api_version"
                android:value="@string/antelli_api_version" />
        </service>
    </application>

</manifest>